body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


.col-md-6 {
    flex: 0 0 auto;
}

.col-xl-3 {
    flex: 0 0 auto;
}

.margin_text {
    margin-left: 5em;
    margin-right: 2em;
}


.margin_button {
    margin: 1.5em;
}

.margin_menu {
    margin-top: 1em;
    margin-bottom: 2em;
}

.margin_h1 {
    margin-bottom: 1em;
}

.text-margin {
    margin: 1.5em;
}

.margin_button-top {
    margin-top: 0.5em;
}

.margin_button-without-left {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}


.margin_button-without-top {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}