<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
    <title>Coders Share</title>
    <link rel="shortcut icon" href="/static/image/icon/logo_alpha.svg">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/static/image/icon/logo_alpha.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Coders Share
        </a>
{#        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
            <div class="navbar-nav ml-md-auto">
                <a class="nav-item nav-link active" href="/projects">Шаблоны и проекты</a>
            </div>
            {#        </div>#}
            {% if current_user.is_authenticated %}
                {#            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
                <div class="navbar-nav ml-auto">
                    <a href="/basket"><button type="button" class="btn btn-outline-light">Корзина</button></a>
                    <a class="nav-item nav-link active margin_text" href="/account">{{ current_user.name }}</a>
                    <a class="nav-item nav-link" href="/logout">Выйти</a>
                </div>
                {#            </div>#}
            {% else %}
                {#            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/login">Войти</a>
                    <a class="nav-item nav-link active" href="/register">Зарегистрироваться</a>
                </div>
                {#            </div>#}
            {% endif %}
{#        </div>#}
    </nav>
</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
    <nav class="navbar navbar-light bg-light">
        <span>© 2024 Coders Share. Все права защищены.</span>
        <a href="https://github.com/Tanax-Xt/coders-share">Project's GitHub</a>
    </nav>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>