{% extends "base.html" %}


{% block content %}
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Оплата прошла</h1>
        <p class="lead">Спасибо за покупку! Оплата прошла успешно</p>
        <hr class="my-4">
        <p>Надеемся, что эти проекты будут полезны вам в дальнейшей работе!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/account?projects=buyer" role="button">К приобретенным проектам</a>
        </p>
    </div>
    <br>
{% endblock %}
