{% extends "base.html" %}

{% block content %}
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Coders Share</h1>
        <p class="lead">Площадка для продажи шаблонов и проектов. Устанавливай цену за доступ к твоему коду, находи и
            изучай проекты других пользователей</p>
        <hr class="my-4">
        <p>Начни зарабатывать на своих навыках уже сейчас</p>
        <br>
        <p class="lead">
            <a class="btn btn-danger btn-lg" href="/register" role="button">Присоединиться</a>
        </p>
    </div>
{% endblock %}